# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.pub/

# Android
android/.gradle/
android/app/build/
android/local.properties
android/key.properties
*.keystore
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

# IDE / Editor
.vscode/
.idea/
*.iml

# Logs / temp
*.log
*.tmp
*.lock

# APK / AAB
*.apk
*.aab
