<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- เครือข่าย -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- ตำแหน่ง (สำหรับ Geolocator / SOS / ที่อยู่จาก GPS) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- ถ้าจะเก็บตำแหน่งตอนปิดแอป/ทำงานพื้นหลัง ค่อยเปิดบรรทัดนี้เพิ่ม
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    -->

    <!-- แจ้งเตือน (Android 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- สำหรับตั้งปลุกแบบ exact (ใช้กับ alarm manager) -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name="${applicationName}"
        android:label="helpcare"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode">

            <!-- ธีมเริ่มต้นก่อน Flutter โหลดขึ้นมา -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- อย่าลบ ใช้โดย Flutter tool -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- ส่วนนี้มาจาก template ของ Flutter -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

</manifest>
