<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203044905421-t8pafg3k9s2h7p55utv59ssrcpngqgfb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203044905421-t8pafg3k9s2h7p55utv59ssrcpngqgfb</string>
	<key>API_KEY</key>
	<string>AIzaSyBJz-rLC9iZy1ZcTo1BYTHkfchJ4XrCDfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>203044905421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helpcare</string>
	<key>PROJECT_ID</key>
	<string>helpcare11-3b153</string>
	<key>STORAGE_BUCKET</key>
	<string>helpcare11-3b153.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203044905421:ios:94f83d9fdee297dc6f6484</string>
</dict>
</plist>